<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no ">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.5/lib/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vant@2.5/lib/vant.min.js"></script>
  <title>issueDemo</title>
  <script>! function(a) {var j, b = a.document, c = b.documentElement, d = a.orientation || 0, e = 750, f = 9 / 16, g = 100, h = a.devicePixelRatio, i = 1; b.write('<meta name="viewport" content="initial-scale=' + i + ",maximum-scale=" + i + ",minimum-scale=" + i + ',user-scalable=0">'), j = c.getBoundingClientRect().width, 90 == Math.abs(d) && (j *= f), c.style.fontSize = j / h * g / (e / h) + "px"}(window);</script>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }
  </style>
</head>

<body>
  <div id="app">
    <van-tabs v-model="active" scrollspy sticky>
      <van-tab v-for="(item, index) in 4" :key="index" :title="'选项 ' + index">
        <div style="height: 500px;">内容 {{ index }}</div>
      </van-tab>
    </van-tabs>
    <div style="position: fixed;top: 100px;right: 0;">
      <van-stepper v-model="value" />
    </div>
  </div>
  <script type="text/javascript">
    var vm = new Vue({
      el: '#app',
      data () {
        return {
          active: 1,
          value: 1
        }
      }
    })
  </script>
</body>

</html>